.banner {
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    max-height: 480px
}

.banner .banner_item {
    position: relative
}

.banner .banner_item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent
}

.banner .item_inner {
    margin: 0 auto;
    width: 45vw;
    max-height: 480px
}

.banner .img_box {
    position: relative;
    padding-top: 100%
}

.banner .banner_img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 480px
}

.banner .banner_img.banner_have_title {
    -webkit-transform: translateX(-42%) translateY(-10%) rotate(25deg) !important;
    transform: translateX(-42%) translateY(-10%) rotate(25deg) !important;
    -webkit-filter: drop-shadow(15px 25px 7px rgba(0, 0, 0, .1));
    filter: drop-shadow(15px 25px 7px rgba(0, 0, 0, .1))
}

.banner .title_box {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 500px
}

.banner .title {
    font-size: 32px;
    letter-spacing: -.16px;
    font-weight: 700;
    color: #fff
}

.banner .sub_title {
    margin-top: 5px;
    letter-spacing: -.15px;
    color: hsla(0, 0%, 100%, .8);
    font-size: 15px
}

.banner .item_inner,
.banner .item_inner {
    width: 100%;
    height: auto
}

.banner .title_box,
.banner .title_box {
    bottom: 39px;
    max-width: 300px
}

.banner .title,
.banner .title {
    overflow: hidden;
    max-height: 56px;
    line-height: 28px;
    font-size: 24px
}

.banner .sub_title,
.banner .sub_title {
    font-size: 12px;
    letter-spacing: -.06px;
    margin-top: 3px
}

.banner .img_box {
    position: relative;
    padding-top: 0
}

.banner .banner_img {
    position: unset;
    width: 100%;
    height: auto;
    max-height: 480px;
    -webkit-transform: unset;
    transform: unset
}

.wrap.disable .banner .title_box {
    left: auto;
    right: auto
}

.banner_slide {
    overflow: hidden;
    position: relative;
    max-height: 480px
}